.head {
  padding: 5px;
  text-align: center;
  background: #667070;
  color: white;
  font-size: 30px;
}

#MY {
  font-family: Gothic;
  right: 40%;
}

#BT {
  background-color: #667070;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  background-color: gris;
  color: White;
  border: 2px solid #e7e7e7;
}
#BT:hover {
  background-color: #e7e7e7;
}

#search {
  margin-left: 85%;
  width: 200px;
  height: 50x;
}
em {
  color: red;
}

.login {
  background-color: #667070;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
