.head {
  padding: 5px;
  text-align: center;
  background: #667070;
  color: white;
  font-size: 30px;
}

#MY {
  font-family: Gothic;
  right: 40%;
}

#BT {
  background-color: #667070;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  background-color: gris;
  color: White;
  border: 2px solid #e7e7e7;
}
#BT:hover {
  background-color: #e7e7e7;
}
#btn {
  background-color: #667070;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  background-color: gris;
  color: White;
  border: 2px solid #e7e7e7;
  margin-left: 82%;
}
