html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}
.head {
  padding-bottom: 15px;
  text-align: center;
  background: #667070;
  color: white;
  font-size: 30px;
  width: 100%;
}

#MY {
  font-family: Gothic;
  right: 40%;
}

#BT {
  background-color: #667070;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  background-color: gris;
  color: White;
  border: 2px solid #e7e7e7;
}
#BT:hover {
  background-color: #e7e7e7;
}

#BBT {
  background-color: #667070;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  background-color: gris;
  color: White;
  border: 2px solid #e7e7e7;
  left: 50%;
}
#BBT:hover {
  background-color: #e7e7e7;
}

#search {
  margin-left: 70%;
  width: 200px;
  height: 25px;
  /* padding: 1mm; */
}
em {
  color: red;
}

.input {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

#loginB {
  background-color: green;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
#cancel {
  background-color: red;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.category1 {
  float: left;
  width: 15%;
  height: 100%;
  margin-left: 2%;
  background-color: white;
  box-shadow: 0 40px 80px 0 rgba(201, 141, 141, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 5%;
}

.category2 {
  float: left;
  width: 15%;
  height: 15%;
  margin-left: 2%;
  background-color: white;
  box-shadow: 0 40px 80px 0 rgba(201, 141, 141, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 5%;
  margin-top: 50px;
  margin-left: 5%;
  height: auto;
}

.second2 {
  width: 100%;
  height: 80%;
}
.second2:hover {
  opacity: 0.5;
  background-color: gray;
  box-shadow: 0 20px 20px 0 red, 0 20px 20px 0 rgba(0, 0, 0, 0.19);
}

p {
  position: relative;
  font-family: "Gentium Book Basic", serif;
  float: left;
  margin-right: -2em;
  margin-left: 2em;
  margin-top: 10px;
}

.store {
  width: 100%;
  height: 200px;
  margin-top: 50px;
  margin-left: 5px;
}

.store2 {
  margin-top: 50px;
  width: 100%;
  height: 200px;
}
.second {
  width: 100%;
  height: 80%;
}
.second:hover {
  opacity: 0.5;
  background-color: gray;
  box-shadow: 0 20px 20px 0 red, 0 20px 20px 0 rgba(0, 0, 0, 0.19);
}
.footer {
  text-align: center;
  padding: 3px;
  background-color: rgb(98, 95, 238);
  color: white;
  bottom: 10%;
}
#slideShow {
  margin: auto;
  margin-top: 1em;
}

#check {
  margin-top: 10px;
  position: relative;
  float: right;
  padding: 0px;
  margin-right: 5%;
}

.autoSlides {
  height: 300px;
  margin: auto;
}
.login {
  margin-left: 30%;
  margin-right: 30%;
}

.bts {
  float: left;
  width: 20%;
  padding: 10px;
  margin-top: 10px;
}
